@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --yellow:hsl(47, 88%, 63%);
    --white:hsl(0, 0%, 100%);
    --gray500:hsl(0, 0%, 42%);
    --gray950:hsl(0, 0%, 7%)
}
*{
    font-family: "Figtree", sans-serif;
}
p{
    font-size: 18px;
    color:var(--gray500);
    
}
span{
    display: block;

}
.catagory{
    padding: .5rem;
    background-color: var(--yellow);
    font-weight: 800;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    width: 4rem;
    margin:20px 0px 15px
}
body{
    display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
    background-color: var(--yellow);
}
main{
    border:solid 1px black; 
    box-shadow: 10px 10px 0px black;
    border-radius: 20px;
    text-align: start;
    display: block;
    width: 35vh;
    padding: 1.5rem;
    background-color: var(--white);
}
.main-img{
    border-radius: 10px;
    width: 35vh;
}
h2{
    font-weight: 800;
}
.date{
    font-weight: 500;
}
.profile{
    display: flex;
    align-items: center;
    padding: 10px 0px 0px ;
}
.profile img{
    height: 3rem;

}
.profile span{
    padding: 0px 15px 0px ;
    font-weight: 800;
}